
<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container" style="width: 100%">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-md-2"></div>
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li id="dashboard">
          <a class="nav-link nav-item active" [routerLink] = "['/home']" ><h3><b>Dashboard</b></h3> </a>
        </li>
        <li id="add" class="text-center">
          <a class="nav-link nav-item active" [routerLink] = "['/add']" ><h3><b>Record new Shipment(In Malaysia)</b></h3> </a>
        </li>
        <li id="arival">
          <a class="nav-link nav-item active"  [routerLink] = "['/edit']"><h3><b>Record new Arrival(In Sri Lanka)</b></h3> </a>
        </li>
        <li id="Search">
          <a class="nav-link nav-item active"  [routerLink] = "['/search']"><h3><b>Search Timber Bundles</b></h3> </a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<!--<nav class="navbar navbar-expand-lg bg-primary">-->
  <!--<div class="container">-->
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
      <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
      <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
      <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
    <!--</button>-->
    <!--<div class="collapse navbar-collapse" id="navbarNav">-->
      <!--<ul class="navbar-nav">-->
        <!--<li class="nav-item active">-->
          <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Features</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Pricing</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link disabled" href="#">Disabled</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
